<section class="todoapp">
  <app-todo-header
    placeholder="What do you want to do?"
    (onEnterUp)="addTodo($event)"
  ></app-todo-header>
  <app-todo-list
    [todos]="todos | async"
    (onRemoveTodo)="removeTodo($event)"
    (onToggleTodo)="toggleTodo($event)"
    (onToggleAll)="toggleAll()"
    (onModifyTodo)="modifyTodo($event)"
  ></app-todo-list>
  <app-todo-footer
    [itemCount]="(todos | async).length"
    [filter]="filter"
    (onClear)="clearCompleted()"
  ></app-todo-footer>
</section>
